<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Model-Editor - A web based editor for AltWalker and GraphWalker models.</title>
    <meta property="og:title" content="Model-Editor - A web based editor for AltWalker and GraphWalker models." />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://altom.gitlab.io/altwalker/model-editor/" />

    <meta name="description" content="Create or edit your AltWalker and GraphWalker JSON models." />
    <meta property="og:description" content="Create or edit your AltWalker and GraphWalker JSON models." />

    <meta property="og:image" content="https://altom.gitlab.io/altwalker/model-editor/assets/screenshots/screenshot.png" />

    {{content-for "head"}}

    <!-- Model-Visualizer: remove when the library is deployed -->
    <link rel="stylesheet" href="https://altom.gitlab.io/altwalker/model-visualizer/build/model-visualizer.dev.css">

    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/model-editor.css">

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" site="SJXUKAQC" spa="hash" excluded-domains="localhost" defer></script>
    <!-- / Fathom -->

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>

    <!-- Model-Visualizer: remove when the library is deployed -->
    <script src="https://altom.gitlab.io/altwalker/model-visualizer/build/model-visualizer.dev.js"></script>

    <script src="{{rootURL}}assets/model-editor.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
